<!DOCTYPE html>
<html>
<head>
<html class="full" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
    <!-- CSS- stylesheet path won't respond...quick hack, sorry. -->

<style type="text/css">

.full {
   position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;


body {
    background-image: url("http://i.imgur.com/hGoJew4.png") no-repeat;
    background-color: #cccccc;
    background-size: cover;
    position: fixed;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


h1 {
    color: white;
}

h2 {
    color: white;
}

</style>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clubs near you</title>
  <link rel="stylesheet" href="">
</head>
<body>
 
     <div class="container">

      <!-- Navigation Bar -->
      <div class="container">
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/signup">Sign Up</a></li>
         </ul>
      </div> <!-- End of Navigation Bar -->

<br/><br/>
<center><p class="lead">It's time to <b>party.</b> Visit one of these spots today, or save them for tomorrow.</p></center>
<br/><br/>

<ul>
  <% data.forEach(function(result){ %>
    <li>Name: <%= result.venue.name %> </li>
    <li>Address: <%= result.venue.location.address %></li>
    <li>City: <%= result.venue.location.city %></li>
    <li>State: <%= result.venue.location.state %></li>
    <li>Phone: <%= result.venue.contact.formattedPhone %></li>
    <form action="POST" method="/favorite">
      <input type="hidden" name="favorite" value="<%= result.venue.name %>">
      <button class="btn btn-sm btn-default" type="submit">Add to Favorites</button>

    </form>
    <br/>
  <% }) %>
  </ul>

  </div> 

  
</body>
</html>